* {
    font-size: 18px;
    font-weight: 1000;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background: rgb(15,15,15);
  background: linear-gradient(90deg, rgba(15,15,15,0.9500175070028011) 0%, rgba(0,0,0,0.8911939775910365) 100%);
  color: #fff;
  line-height: 1.6;
}

header {
  backdrop-filter: blur(10px);
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
    font-size: 200%;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.social-links {
  margin-top: 15px;
  gap: 10px;
  background-color: #808080;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-right: 10px;
    text-decoration: none;
}
.socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 46);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
    backdrop-filter: blur(10px);
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }
  /* twitter*/
  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
  }
  /* linkdin*/
  .containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
  }
  /* Whatsapp*/
  .containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

main {
    padding: 20px;
}

main h2 {
    margin-bottom: 20px;
}

.bio {
    margin-bottom: 40px;
    gap: 20px;
}
.bio p {
  line-height: 1.8;
  margin-bottom: 40px;
  gap: 20px;
  border: 2px solid #000; /* Ajoute une bordure */
  border-radius: 10px;
  background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,0.9500175070028011) 0%, rgba(0,0,0,0.8911939775910365) 100%);
  padding : 20px;
  box-shadow: 0 0 10px rgba(128, 0, 128, 0.5);
  opacity: 1;
}

.resume {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.resume-item {
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,0.9500175070028011) 0%, rgba(0,0,0,0.8911939775910365) 100%);
  padding: 20px;
  justify-content: space-between;
  border-radius: 8px;
  flex: 1;
  min-width: 200px;
  text-align: center;
  transition: 0.5s ease-in-out;
  opacity: 0.4; /* Rend l'élément un peu transparent */
  font-size: 18px;
  box-shadow: 0 0 10px rgba(128, 0, 128, 0.5);
}


.resume-item:hover{
  transform: scale(1.0); /* Agrandit le bouton de 10% */
  transition: transform 0.5s ease-in-out; /* Animation de l'effet */
  opacity: 1;;
}


.resume-item button{
    background: #555;
    color: #fff;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.resume .resume-item:hover {
  transform: scale(1.1, 1.1);
}

.resume:hover > .resume-item:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}

.button{
  position: relative;
  text-decoration: none;
}



/*Carousel*/
.diplomas {
  display: flex;
  flex-direction: column;
}

.carrouselProjets{
  padding: 40px;
  margin-left: 30%;
  justify-content: space-between;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  width: 100px;
  justify-content: center;
  height: 200px;
  gap: 10px;
  white-space: nowrap;

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 120px;
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 5px 15px #1e0e3e;
    position: relative;
    overflow: hidden;
    margin-bottom: 30%;

    &:nth-of-type(1) {
      background: url(../IMAGES/pixLogo.png)
      no-repeat 50% / cover;
    }
    &:nth-of-type(2) {
      background: url(../IMAGES/AttestationsLangues.png)
        no-repeat 50% / cover;
    }
    &:nth-of-type(3) {
      background: url(../IMAGES/RelevedeNotes.png)
        no-repeat 50% / cover;
    }
  

    .content {
      font-size: 1.5rem;
      color: #fff;
      display: flex;
      align-items: center;
      padding: 15px;
      opacity: 0;
      flex-direction: row;
      height: 100%;
      justify-content: flex-end;
      transform: translatey(100%);
      transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
      visibility: hidden;

      span {
        display: block;
        margin-top: 5px;
        font-size: 1.2rem;
      }
    }

    &:hover {
      flex: 0 0 250px;
      box-shadow: 1px 3px 15px #7645d8;
      transform: translatey(-30px);
    }

    &:hover .content {
      opacity: 1;
      transform: translatey(0%);
      visibility: visible;
    }
  }
}

/*FIN Carousel*/




/*Contact*/
.form-container {
  width: 700px;
  height: 400px;
  margin: 30px;
  background-color: #333;
  padding: 30px;
  border-left: 5px solid #333;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(128, 0, 128, 0.5);
  
}

.heading {
  display: block;
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.form-container .form .input {
  color: white;
  width: 100%;
  background-color: black;
  border: none;
  outline: none;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  border-left: 1px solid transparent;
}

.form-container .form .input:focus {
  border-left: 5px solid #333;
}

.form-container .form .textarea {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: black;
  color: #B5DCE3;
  font-weight: bold;
  resize: none;
  max-height: 150px;
  margin-bottom: 20px;
  border-left: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.form-container .form .textarea:focus {
  border-left: 5px solid #333;
}

.form-container .form .button-container {
  display: flex;
  gap: 10px;
}

.form-container .form .button-container .send-button {
  flex-basis: 70%;
  background: grey;
  padding: 10px;
  color: #001925;
  text-align: center;
  font-weight: bold;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.form-container .form .button-container .send-button:hover {
  background: transparent;
  border: 1px solid black;
  color: black;
}

/*FIN Contact*/




footer {
    background: #222;
    text-align: center;
    padding: 20px;
}



/*Page Projet*/
.mainprojet{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  background-color: #555;
  padding: 20px;
  border-radius: 10px;
  width: 170vh;
  height: 100%;
  margin-left: 8%;
}
.Presentationprojet{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 80px;
  height: fit-content;
  width: 150vh;
}

.info{
  position: relative;
  top: 50%;
  left: 50%;
  width: 145vh;
  transform: translate(-50%, -50%);
  background: rgba(24, 20, 20, 0.987);
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(128, 0, 128, 0.5);
  border-radius: 10px;
  opacity: 0.7;
}

.info h1{
  font-size: 200%;
  padding: 17px;
}

.info p{
  padding: 20px;
}

/*------------------*/

.Presentationprojet1{
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
  height: fit-content;
  width: 110%;
}

.info1{
  position: relative;
  top: 50%;
  left: 50%;
  width: 145vh;
  transform: translate(-50%, -50%);
  background: rgba(24, 20, 20, 0.987);
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(128, 0, 128, 0.5);
  border-radius: 10px;
  opacity: 0.7;
}
.info1 h1{
  font-size: 200%;
  padding: 17px;
}

.info1 p{
  padding: 20px;
}

/*-----------------*/
.Presentationprojet2{
  padding: 30px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
  height: 100vh;
  width: 150vh;
}

.info2{
  position: relative;
  top: 50%;
  left: 50%;
  width: 145vh;
  transform: translate(-50%, -50%);
  background: rgba(24, 20, 20, 0.987);
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(128, 0, 128, 0.5);
  border-radius: 10px;
  opacity: 0.7;
}

.info2 h1{
  font-size: 200%;
  padding: 17px;
}

.info2 p{
  padding: 20px;
}






/*FIN Page Projet*/








@media (max-width: 768px) {
  .resume, .portfolio-items {
      flex-direction: column;
  }
  .content {
    flex-direction: column;
    align-items: center;
}
.card {
    width: 80%;
}
.carrouselProjets{
  margin-left: 0;
}
}